body {
    padding: 1%;
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    background-color: #ffa64d;   
  }
  
h1, h2,h3{
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
    text-shadow: 2px 2px 10px black;
  }

h1{
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
    margin-top: 5%;
}

h2{
    font-size: 3rem;
    text-align: left;
}

h3{
    font-size: 2rem;
    text-align: left;
}

img{
    margin-left: 34%;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
    font-size: 1.6rem;
} 

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
}

li{
    display: inline;
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{ 
    background-color: #111; /*change the link color:hover*/
}
li.active{
    background-color: #ffa64d;
}

div.gallery{
    margin: 5px;
   
    float: left;
  /*  width: 360px;*/
}

div.gallery img{
    width: 100%;
    height: auto;
    margin-left: 0;
}

