body {
    padding: 1%;
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    background-color: #ffa64d;   
  }
  
h1, h2{
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
    text-shadow: 2px 2px 10px black;
  }

h1{
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
    margin-top: 5%;
}

h2{
    font-size: 3rem;
    text-align: center;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
    font-size: 1.6rem;
}

img{
    height: 100px;
    width: 100px;
    margin-right: 10%;
    margin-left: 90%;
    margin-top: -13%;
}

.photos{
    height: 50;
    width: 50;
}

/* define the main navigation block */
.topnav{
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #333333;
}

/* remove bullets, margin and padding */
.topnav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.topnav li {
    float: left;
}

/* define the block styling for the links */
.topnav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}
 /* display the active link */
 .topnav li a.active {
     background-color: aquamarine;
 }