body {
    padding: 1%;
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    background-color: #ffa64d;   
  }
  
h1, h2{
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
    text-shadow: 2px 2px 10px black;
  }

h1{
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
}

h2{
    font-size: 3rem;
    text-align: center;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
    font-size: 1.6rem;
}
